<h1 mat-dialog-title>Create/Edit Flight</h1>
<mat-dialog-content>
  <form
    (ngSubmit)="onSubmit(flightForm)"
    #flightForm="ngForm"
    class="flight_form"
  >
    <mat-form-field appearance="fill">
      <mat-label>Flight Number:</mat-label>
      <input
        matInput
        type="text"
        required
        placeholder="Ex. AB1234"
        [(ngModel)]="flight.flightNumber"
        name="flightNumber"
      />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Landing Airport:</mat-label>
      <input
        matInput
        type="text"
        required
        placeholder="Ex. JFK"
        [(ngModel)]="flight.landingAirport"
        name="landingAirport"
      />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Takeoff Airport:</mat-label>
      <input
        matInput
        type="text"
        required
        placeholder="Ex. LAX"
        [(ngModel)]="flight.takeoffAirport"
        name="takeoffAirport"
      />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Status:</mat-label>
      <mat-select [(ngModel)]="flight.status" name="status">
        <mat-option value="hangar">Hangar</mat-option>
        <mat-option value="airborne">Airborne</mat-option>
        <mat-option value="malfunction">Malfunction</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Takeoff Time:</mat-label>
      <input
        matInput
        type="datetime-local"
        required
        [(ngModel)]="flight.takeoffTime"
        name="takeoffTime"
      />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Landing Time:</mat-label>
      <input
        matInput
        type="datetime-local"
        required
        [(ngModel)]="flight.landingTime"
        name="landingTime"
      />
    </mat-form-field>
    <mat-dialog-actions align="end">
      <button mat-button type="submit" [disabled]="!flightForm.form.valid">
        Save
      </button>
    </mat-dialog-actions>
  </form>
</mat-dialog-content>
