.flight_form {
  display: flex;
  flex-direction: column;
}

mat-error {
  white-space: normal;
  margin-top: 2px;
}

.dialog_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mdc-dialog__content {
  padding: 0 24px 0 24px;
  max-height: 66vh;
}
