<mat-table [dataSource]="flights$" class="mat-elevation-z8" class="list">
  <ng-container matColumnDef="flightNumber">
    <th mat-header-cell *matHeaderCellDef>Flight Number</th>
    <td mat-cell *matCellDef="let value">{{ value.flightNumber }}</td>
  </ng-container>
  <ng-container matColumnDef="takeoffAirport">
    <th mat-header-cell *matHeaderCellDef>Takeoff Airport</th>
    <td mat-cell *matCellDef="let value">{{ value.takeoffAirport }}</td>
  </ng-container>
  <ng-container matColumnDef="landingAirport">
    <th mat-header-cell *matHeaderCellDef>Landing Airport</th>
    <td mat-cell *matCellDef="let value">{{ value.landingAirport }}</td>
  </ng-container>
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef>Status</th>
    <td
      mat-cell
      *matCellDef="let value"
      [ngClass]="{ flicker: value.status === 'malfunction' }"
    >
      <span>{{ value.status }}</span>
    </td>
  </ng-container>
  <ng-container matColumnDef="takeoffTime">
    <th mat-header-cell *matHeaderCellDef>Takeoff Time</th>
    <td mat-cell *matCellDef="let value">
      {{ value.takeoffTime }}
    </td>
  </ng-container>
  <ng-container matColumnDef="landingTime">
    <th mat-header-cell *matHeaderCellDef>Landing Time</th>
    <td mat-cell *matCellDef="let value">{{ value.landingTime }}</td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="headers"></tr>
  <tr mat-row *matRowDef="let row; columns: headers"></tr>
</mat-table>
